//media
@mixin mobile {
  @media (min-width: $mobile-size) {
    @content;
  }
}
@mixin pad {
  @media (min-width: $pad-size) {
    @content;
  }
}
@mixin screen {
  @media (min-width: $screen-size) {
    @content;
  }
}
//<a>btn
@mixin a-link-btn {
  display: block;
  padding: 0.5rem;
  background-color: $btn-background-color;
  border: $btn-background-color solid 1px;
  border-radius: 5%;
  text-decoration: none;
  color: $text-color;
  text-align: center;
  font-weight: bold;

  &:hover {
    background-color: $btn-hover-color;
  }
}

//logo with img
@mixin a-link-img($logo-img, $width, $hight) {
  a {
    background-image: url($logo-img);
    display: block;
    width: $width;
    height: $hight;
    text-indent: -1000px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}
//flex
@mixin flex-row($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin flex-column($justify-content, $align-items) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}
//flex class
$direction-types: center, start, end, space-between, space-around, space-evenly;
@each $type in $direction-types {
  .flex-row-#{$type} {
    display: flex;
    justify-content: $type;
    align-items: center;
  }
  .flex-column-#{$type} {
    display: flex;
    flex-direction: column;
    justify-content: $type;
    align-items: center;
  }
}
