//font
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$line-height: 1.5rem;
//color
$theme-color-main: #b2998e;
$theme-color-second: #dcc6c6;
$theme-color-background: #e1e0e7;
$text-color: #854e4b;
$border-color: #854e4b;
$table-color: #f6ded4;
//btn
$btn-text-color: #e1e0e7;
$btn-background-color: $theme-color-background;
$btn-hover-color: $theme-color-second;

//margin
$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 1.5rem;
$margin-xl: 2rem;
//pic
$logo-img:"https://cdn-icons-png.flaticon.com/512/7041/7041416.png";
